*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
    background-color:#b4b4b4;
    padding: 40px 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
/* Seleção de multiplos seletores - uso de virgulo como "E"*/
header,
 nav,
  main,
   footer{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:8px;
}

main>p{
    min-width: 100%;
    color: red;
}
aside,article{
     background-color: #d9d9d9;
    padding: 20px;
    border-radius: 30px;
}
aside{
    width: 30%;
}
article{
    width:60%;
}
section{
    background-color: #b4b4b4;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}
address{
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 30px;
}
@media (max-width: 600px){
    body{
        padding: 20px;
    }
    aside,article{
        width: 100%;
    }

}